<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.valoracion.home.title">Valoracions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-valoracion" [routerLink]="['/valoracion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.valoracion.home.createLabel">
            Create a new Valoracion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="valoracions?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.valoracion.home.notFound">No valoracions found</span>
    </div>
    <div class="table-responsive" *ngIf="valoracions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.nota">Nota</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.observaciones">Observaciones</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.fecha">Fecha</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.pedido">Pedido</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.itemPedido">Item Pedido</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.valoracion.comensal">Comensal</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let valoracion of valoracions ;trackBy: trackId">
                <td><a [routerLink]="['/valoracion', valoracion.id, 'view' ]">{{valoracion.id}}</a></td>
                <td>{{valoracion.nota}}</td>
                <td>{{valoracion.observaciones}}</td>
                <td>{{valoracion.fecha | date:'medium'}}</td>
                <td>
                    <div *ngIf="valoracion.pedido">
                        <a [routerLink]="['/pedido', valoracion.pedido?.id, 'view' ]" >{{valoracion.pedido?.numPedido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="valoracion.itemPedido">
                        <a [routerLink]="['/item-pedido', valoracion.itemPedido?.id, 'view' ]" >{{valoracion.itemPedido?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="valoracion.comensal">
                        <a [routerLink]="['/comensal', valoracion.comensal?.id, 'view' ]" >{{valoracion.comensal?.dni}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/valoracion', valoracion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/valoracion', valoracion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/valoracion', { outlets: { popup: valoracion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
