<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.mesa.home.title">Mesas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mesa" [routerLink]="['/mesa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.mesa.home.createLabel">
            Create a new Mesa
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mesas?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.mesa.home.notFound">No mesas found</span>
    </div>
    <div class="table-responsive" *ngIf="mesas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.mesa.numMesa">Num Mesa</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.mesa.capacidad">Capacidad</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mesa of mesas ;trackBy: trackId">
                <td><a [routerLink]="['/mesa', mesa.id, 'view' ]">{{mesa.id}}</a></td>
                <td>{{mesa.numMesa}}</td>
                <td>{{mesa.capacidad}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mesa', mesa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mesa', mesa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mesa', { outlets: { popup: mesa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
