<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comensal">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.comensal.detail.title">Comensal</span> {{comensal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.comensal.dni">Dni</span></dt>
                <dd>
                    <span>{{comensal.dni}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.comensal.nombre">Nombre</span></dt>
                <dd>
                    <span>{{comensal.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.comensal.usuario">Usuario</span></dt>
                <dd>
                    {{comensal.usuario?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comensal', comensal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
