<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ingrediente">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.ingrediente.detail.title">Ingrediente</span> {{ingrediente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.ingrediente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ingrediente.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.ingrediente.vegetariano">Vegetariano</span></dt>
                <dd>
                    <span>{{ingrediente.vegetariano}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.ingrediente.vegano">Vegano</span></dt>
                <dd>
                    <span>{{ingrediente.vegano}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.ingrediente.kcal">Kcal</span></dt>
                <dd>
                    <span>{{ingrediente.kcal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ingrediente', ingrediente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
